openapi: 3.1.0
info:
  title: Cadastro Policial API
  description: |
    API para receção e registo de pedidos de cadastro policial e perda de documentos.

    ## Fluxo
    O sistema externo (SIGO) envia um POST com todos os dados numa única estrutura.
    Este sistema regista e devolve o identificador interno gerado.

    ## Autenticação
    Esta API usa dois esquemas de autenticação distintos:

    - **sigoClientCredentials** — OAuth2 Client Credentials. Usado pelo SIGO (sistema → sistema).
      O SIGO autentica-se no Keycloak com `client_id` + `client_secret` e obtém um JWT temporário.
      Aplicado no `POST /pre-cadastros`.

    - **keycloakUserAuth** — OAuth2 Authorization Code. Usado pelo frontend (utilizador → sistema).
      O utilizador faz login no Keycloak e o frontend envia o JWT resultante.
      Aplicado nos restantes endpoints.
  version: 1.0.0
  contact:
    name: Equipa da DOC
servers:
  - url: https://cadastro-api-mock.pn-cv.com
    description: Mock remoto
  - url: http://localhost:4010
    description: Mock local (Prism)
  - url: https://dev-cadastro-backend.pn-cv.com
    description: Mock remoto
tags:
  - name: Solicitacoes-Certificado-Cadastro
    description: Gestão das solicitações de certificados de cadastro
  - name: Solicitacoes-Certificado-Cadastro-Pessoa
    description: Gestão dos dados pessoais associados às solicitações de certificado de cadastro
  - name: Solicitacoes-Certificado-Cadastro-Pessoa-Documentos
    description: Gestão dos documentos da pessoa associados às solicitações de certificado de cadastro
  - name: Solicitacoes-Certificado-Cadastro-Pessoa-Enderecos
    description: Gestão dos endereços da pessoa associados às solicitações de certificado de cadastro
  - name: Solicitacoes-Certificado-Cadastro-Pessoa-Contactos
    description: Gestão dos contactos da pessoa associados às solicitações de certificado de cadastro
  - name: Solicitacoes-Certificado-Cadastro-Anexos
    description: Gestão dos anexos associados às solicitações de certificado de cadastro
  - name: Pre-Cadastros
    description: Receção e consulta de Pré-cadastros (inclui observações)
  - name: Pre-Cadastros-Anexos
    description: Gestão dos anexos associados aos pré-cadastros
  - name: Pre-Cadastros-Observacoes
    description: Gestão das observações associadas aos pré-cadastros
  - name: Reconhecimentos
    description: Pesquisa de fichas por reconhecimento
  - name: Reabilitações
    description: Gestão das reabilitações associadas a fichas
  - name: Dominios-Cadastro
    description: |
      Domínios de parametrização mantidos por este sistema — consulta dos
      valores e gestão dos mesmos.
  - name: Dominios-Unidade-Organica
    description: Direções, comandos e unidades da Polícia Nacional
  - name: Dominios-Ocorrencia-Crime
    description: Tipo de auto e classificação criminal
  - name: Dominios-Pessoa
    description: Tipo de cidadão, documento, profissão e contacto
  - name: Dominios-Atributo-Fisicos
    description: Categorias, tipos e valores de atributo físico
  - name: Dominios-Geografia
    description: Hierarquia geográfica
  - name: Grupos-Cadastro
    description: Gestão dos grupos/organizações associados a um cadastro
  - name: Ficha-Cadastro-Pessoa
    description: Criação e gestão das fichas de cadastro de pessoa
  - name: Ficha-Cadastro-Pessoas-Pessoa
    description: Gestão dos dados pessoais de uma ficha de cadastro
  - name: Ficha-Cadastro-Pessoas-Documentos
    description: Gestão dos documentos de uma ficha de cadastro
  - name: Ficha-Cadastro-Pessoas-Motivos
    description: Gestão dos motivos de uma ficha de cadastro
  - name: Ficha-Cadastro-Pessoas-Motivos-Reabilitacoes
    description: Gestão das reabilitações associadas aos motivos
  - name: Ficha-Cadastro-Pessoas-Anexos
    description: Gestão dos anexos de uma ficha de cadastro
  - name: Ficha-Cadastro-Pessoas-Observacoes
    description: Gestão das observações de uma ficha de cadastro
  - name: Ficha-Cadastro-Pessoas-Enderecos
    description: Gestão dos endereços de uma ficha de cadastro
  - name: Ficha-Cadastro-Pessoas-Contactos
    description: Gestão dos contactos de uma ficha de cadastro
  - name: Ficha-Cadastro-Pessoas-Sinais
    description: Gestão dos sinais de uma ficha de cadastro
  - name: Ficha-Cadastro-Pessoas-Alcunhas
    description: Gestão das alcunhas de uma ficha de cadastro
  - name: Ficha-Cadastro-Pessoas-Grupos
    description: Gestão dos grupos de uma ficha de cadastro
  - name: Ficha-Cadastro-Pessoas-Grupos-Caracteristicas
    description: Gestão dos grupos de características de uma ficha de cadastro
  - name: Ficha-Cadastro-Pessoas-Grupos-Caracteristicas-Itens
    description: Gestão dos itens dos grupos de características
  - name: Ficha-Cadastro-Pessoas-Impressao-Digital
    description: Gestão da impressão digital de uma ficha de cadastro
  - name: Ficha-Cadastro-Pessoas-Grupos-Fotografias
    description: Gestão dos grupos de fotografias de uma ficha de cadastro
  - name: Documentos-Perdidos
    description: Gestão de documentos de identificação perdidos ou encontrados
  - name: Pesquisas
    description: Pesquisas globais de documentos e elementos geográficos
paths:
  /solicitacoes-certificado-cadastro:
    get:
      tags:
        - Solicitacoes-Certificado-Cadastro
      summary: Listar solicitações de certificados de cadastro
      description: Retorna a lista paginada de solicitações de certificados de cadastro com filtros opcionais.
      operationId: listarSolicitacoesCertificadosCadastro
      security:
        - keycloakUserAuth:
            - cert_emissao
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - name: full_name
          in: query
          description: Filtrar pelo nome completo da pessoa
          schema:
            type: string
        - name: registration_certificate_request_number
          in: query
          description: Filtrar pelo número da solicitação de certificado de cadastro
          schema:
            type: string
        - name: date_of_birth
          in: query
          description: Filtrar pela data de nascimento (yyyy-MM-dd)
          schema:
            type: string
            format: date
        - name: document_number
          in: query
          description: Filtrar pelo número do documento da pessoa
          schema:
            type: string
        - name: document_type
          in: query
          description: Filtrar pelo tipo de documento da pessoa
          schema:
            type: string
        - name: island_id
          in: query
          description: Filtrar pelo identificador da ilha
          schema:
            type: string
        - name: county_id
          in: query
          description: Filtrar pelo identificador do concelho
          schema:
            type: string
        - name: parish_id
          in: query
          description: Filtrar pelo identificador da freguesia
          schema:
            type: string
        - name: locality_id
          in: query
          description: Filtrar pelo identificador da localidade
          schema:
            type: string
        - name: zone_id
          in: query
          description: Filtrar pelo identificador da zona
          schema:
            type: string
        - name: another_point
          in: query
          description: Filtrar por outro ponto de referência do endereço
          schema:
            type: string
        - name: created_at
          in: query
          description: Filtrar pela data de criação (yyyy-MM-dd)
          schema:
            type: string
            format: date
        - name: status_code
          in: query
          description: Filtrar pelo código do estado da solicitação
          schema:
            $ref: '#/components/schemas/RegistrationCertificateStatus'
      responses:
        '200':
          description: Lista paginada de solicitações de certificados de cadastro
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRegistrationCertificateRequestList'
              examples:
                sucesso:
                  summary: Solicitações encontradas
                  value:
                    success: true
                    status: 200
                    status_text: OK
                    data:
                      - id_registration_certificate_request: ccb5d76e-cd46-f4f2-355d-7d1aa9b7ec90
                        registration_certificate_request_number: '000003'
                        full_name: João Silva
                        date_of_birth: '1990-05-14'
                        created_at: '2026-07-28 10:30:00'
                        status_description: Por Pagar
                        status_code: PP
                      - id_registration_certificate_request: 47fb3825-525d-48c4-a81c-89f8620e8042
                        registration_certificate_request_number: '000004'
                        full_name: Maria Lopes
                        date_of_birth: '1988-11-21'
                        created_at: '2026-07-29 09:15:00'
                        status_description: Por Registar
                        status_code: PR
                    pagination:
                      page: 0
                      page_size: 20
                      page_count: 1
                      total: 2
                vazio:
                  summary: Nenhuma solicitação encontrada
                  value:
                    success: true
                    status: 200
                    status_text: OK
                    data: []
                    pagination:
                      page: 0
                      page_size: 20
                      page_count: 0
                      total: 0
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - Solicitacoes-Certificado-Cadastro
      summary: Criar uma solicitação de certificado de cadastro
      description: Regista uma nova solicitação de certificado de cadastro.
      operationId: criarSolicitacaoCertificadoCadastro
      security:
        - keycloakUserAuth:
            - cert_emissao
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationCertificateRequestCreateRequest'
            examples:
              nova_solicitacao:
                summary: Nova solicitação de certificado de cadastro
                value:
                  reason: Solicitação para fins profissionais
      responses:
        '201':
          description: Solicitação de certificado de cadastro criada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRegistrationCertificateRequestCreated'
              examples:
                sucesso:
                  summary: Solicitação de certificado de cadastro criada
                  value:
                    success: true
                    status: 201
                    status_text: Created
                    data:
                      id_registration_certificate_request: ccb5d76e-cd46-f4f2-355d-7d1aa9b7ec90
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /solicitacoes-certificado-cadastro/{id}:
    get:
      tags:
        - Solicitacoes-Certificado-Cadastro
      summary: Consultar uma solicitação de certificado de cadastro
      description: Retorna os dados de uma solicitação de certificado de cadastro.
      operationId: obterSolicitacaoCertificadoCadastro
      security:
        - keycloakUserAuth:
            - cert_emissao
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador único da solicitação de certificado de cadastro
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Solicitação encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRegistrationCertificateRequestDetail'
              example:
                success: true
                status: 200
                status_text: OK
                data:
                  id_registration_certificate_request: ccb5d76e-cd46-f4f2-355d-7d1aa9b7ec90
                  registration_certificate_request_number: '000003'
                  reason: Solicitação para fins profissionais
                  full_name: João Silva
                  date_of_birth: '1990-05-14'
                  created_at: '2026-07-28 10:30:00'
                  created_by: e460bb1f-cf6f-c00c-0f61-6783f358d1e9
                  created_by_name: string
                  updated_at: '2026-07-28 10:30:00'
                  updated_by: 632d8223-da2f-0303-501d-8e408e84c9ca
                  updated_by_name: string
                  status_code: PR
                  status_description: Por Registar
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - Solicitacoes-Certificado-Cadastro
      summary: Atualizar uma solicitação de certificado de cadastro
      description: Atualiza o motivo de uma solicitação de certificado de cadastro.
      operationId: atualizarSolicitacaoCertificadoCadastro
      security:
        - keycloakUserAuth:
            - cert_emissao
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador único da solicitação de certificado de cadastro
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationCertificateRequestUpdateRequest'
            examples:
              atualizar_solicitacao:
                summary: Atualizar o motivo da solicitação
                value:
                  reason: Solicitação para fins profissionais
      responses:
        '200':
          description: Solicitação de certificado de cadastro atualizada com sucesso
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    patch:
      tags:
        - Solicitacoes-Certificado-Cadastro
      summary: Alterar o estado de uma solicitação de certificado de cadastro
      description: Altera exclusivamente o estado da solicitação para Por Pagar.
      operationId: alterarEstadoSolicitacaoCertificadoCadastro
      security:
        - keycloakUserAuth:
            - cert_emissao
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador único da solicitação de certificado de cadastro
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationCertificateStatusRequest'
            example:
              status_code: PP
      responses:
        '200':
          description: Estado da solicitação alterado com sucesso
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /solicitacoes-certificado-cadastro/{id}/pessoa:
    get:
      tags:
        - Solicitacoes-Certificado-Cadastro-Pessoa
      summary: Consultar a pessoa de uma solicitação de certificado de cadastro
      description: Retorna os dados da pessoa associada à solicitação de certificado de cadastro.
      operationId: obterPessoaSolicitacaoCertificadoCadastro
      security:
        - keycloakUserAuth:
            - cert_emissao
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador único da solicitação de certificado de cadastro
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Pessoa encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRegistrationCertificatePerson'
              example:
                success: true
                status: 200
                status_text: OK
                data:
                  id_person: 39b14edd-f509-b0ef-ba60-7506bbd9c143
                  id_registration: ccb5d76e-cd46-f4f2-355d-7d1aa9b7ec90
                  id_registration_certificate_request: ccb5d76e-cd46-f4f2-355d-7d1aa9b7ec90
                  full_name: string
                  date_of_birth: '2026-07-28'
                  sex: F
                  marital_status: S
                  marital_status_description: Solteiro(a)
                  place_of_birth_id: string
                  nationality_id: string
                  nationality_description: string
                  mother_name: string
                  father_name: string
                  nif: string
                  created_at: '2026-07-28 10:30:00'
                  created_by: e460bb1f-cf6f-c00c-0f61-6783f358d1e9
                  created_by_name: string
                  updated_at: '2026-07-28 10:30:00'
                  updated_by: 632d8223-da2f-0303-501d-8e408e84c9ca
                  updated_by_name: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - Solicitacoes-Certificado-Cadastro-Pessoa
      summary: Criar a pessoa de uma solicitação de certificado de cadastro
      description: Regista os dados da pessoa associados à solicitação de certificado de cadastro.
      operationId: criarPessoaSolicitacaoCertificadoCadastro
      security:
        - keycloakUserAuth:
            - cert_emissao
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador único da solicitação de certificado de cadastro
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationCertificatePersonCreateRequest'
            examples:
              pessoa:
                summary: Dados da pessoa da solicitação
                value:
                  full_name: string
                  date_of_birth: '2026-07-28'
                  sex: F
                  marital_status: S
                  place_of_birth_id: string
                  nationality_id: string
                  mother_name: string
                  father_name: string
                  nif: string
                  id_registration: ccb5d76e-cd46-f4f2-355d-7d1aa9b7ec90
      responses:
        '201':
          description: Pessoa da solicitação de certificado de cadastro criada com sucesso
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    put:
      tags:
        - Solicitacoes-Certificado-Cadastro-Pessoa
      summary: Atualizar a pessoa de uma solicitação de certificado de cadastro
      description: Atualiza os dados da pessoa associados à solicitação de certificado de cadastro.
      operationId: atualizarPessoaSolicitacaoCertificadoCadastro
      security:
        - keycloakUserAuth:
            - cert_emissao
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador único da solicitação de certificado de cadastro
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationCertificatePersonUpdateRequest'
            examples:
              pessoa:
                summary: Dados atualizados da pessoa da solicitação
                value:
                  full_name: string
                  date_of_birth: '2026-07-28'
                  sex: F
                  marital_status: S
                  place_of_birth_id: string
                  nationality_id: string
                  mother_name: string
                  father_name: string
                  nif: string
                  id_registration: ccb5d76e-cd46-f4f2-355d-7d1aa9b7ec90
      responses:
        '200':
          description: Pessoa da solicitação de certificado de cadastro atualizada com sucesso
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /solicitacoes-certificado-cadastro/{id}/pessoa/documentos:
    get:
      tags:
        - Solicitacoes-Certificado-Cadastro-Pessoa-Documentos
      summary: Consultar o documento da pessoa da solicitação
      description: Retorna o documento da pessoa associada à solicitação de certificado de cadastro.
      operationId: obterDocumentoPessoaSolicitacaoCertificadoCadastro
      security:
        - keycloakUserAuth:
            - cert_emissao
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador único da solicitação de certificado de cadastro
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Documento encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRegistrationCertificatePersonDocument'
              example:
                success: true
                status: 200
                status_text: OK
                data:
                  document_type: CC
                  document_type_description: string
                  document_number: string
                  issue_date: '2026-07-28'
                  expiration_date: '2026-07-28'
                  issue_location_id: string
                  issue_location: string
                  created_at: '2026-07-28 10:30:00'
                  created_by: 5916a7c7-6185-4e91-df22-66bca3ffd21b
                  created_by_name: string
                  updated_at: '2026-07-28 10:30:00'
                  updated_by: 00a3427e-455a-b735-e969-b57698a1fb99
                  updated_by_name: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - Solicitacoes-Certificado-Cadastro-Pessoa-Documentos
      summary: Adicionar um documento à pessoa da solicitação
      description: Adiciona um documento à pessoa associada à solicitação de certificado de cadastro.
      operationId: adicionarDocumentoPessoaSolicitacaoCertificadoCadastro
      security:
        - keycloakUserAuth:
            - cert_emissao
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador único da solicitação de certificado de cadastro
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationCertificatePersonDocumentCreateRequest'
            examples:
              documento:
                summary: Documento da pessoa
                value:
                  document_type: CC
                  document_number: string
                  issue_date: '2026-07-28'
                  expiration_date: '2026-07-28'
                  issue_location_id: string
      responses:
        '201':
          description: Documento adicionado com sucesso
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    put:
      tags:
        - Solicitacoes-Certificado-Cadastro-Pessoa-Documentos
      summary: Atualizar o documento da pessoa da solicitação
      description: Atualiza o documento da pessoa associada à solicitação de certificado de cadastro.
      operationId: atualizarDocumentoPessoaSolicitacaoCertificadoCadastro
      security:
        - keycloakUserAuth:
            - cert_emissao
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador único da solicitação de certificado de cadastro
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationCertificatePersonDocumentUpdateRequest'
            example:
              document_type: CC
              document_number: string
              issue_date: '2026-07-28'
              expiration_date: '2026-07-28'
              issue_location_id: string
      responses:
        '200':
          description: Documento atualizado com sucesso
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /solicitacoes-certificado-cadastro/{id}/pessoa/enderecos:
    parameters:
      - name: id
        in: path
        required: true
        description: Identificador único da solicitação de certificado de cadastro
        schema:
          type: string
          format: uuid
    get:
      tags:
        - Solicitacoes-Certificado-Cadastro-Pessoa-Enderecos
      summary: Consultar o endereço da pessoa da solicitação
      description: Retorna o endereço da pessoa associada à solicitação de certificado de cadastro.
      operationId: obterEnderecoPessoaSolicitacaoCertificadoCadastro
      security:
        - keycloakUserAuth:
            - cert_emissao
      responses:
        '200':
          description: Endereço encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRegistrationCertificatePersonAddress'
              example:
                success: true
                status: 200
                status_text: OK
                data:
                  island_id: string
                  island: string
                  county_id: string
                  county: string
                  parish_id: string
                  parish: string
                  locality_id: string
                  locality: string
                  zone_id: string
                  zone: string
                  another_point: string
                  created_at: '2026-07-28 10:30:00'
                  created_by: ba9825a6-6fd8-6ec5-5d4b-e08270d79a75
                  created_by_name: string
                  updated_at: '2026-07-28 10:30:00'
                  updated_by: e38f4d0e-f52b-cce9-4955-3136112b6633
                  updated_by_name: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - Solicitacoes-Certificado-Cadastro-Pessoa-Enderecos
      summary: Criar o endereço da pessoa da solicitação
      description: Regista o endereço da pessoa associada à solicitação de certificado de cadastro.
      operationId: criarEnderecoPessoaSolicitacaoCertificadoCadastro
      security:
        - keycloakUserAuth:
            - cert_emissao
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationCertificatePersonAddressCreateRequest'
            examples:
              endereco:
                summary: Endereço da pessoa
                value:
                  island_id: string
                  county_id: string
                  parish_id: string
                  locality_id: string
                  zone_id: string
                  another_point: string
      responses:
        '201':
          description: Endereço criado com sucesso
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    put:
      tags:
        - Solicitacoes-Certificado-Cadastro-Pessoa-Enderecos
      summary: Atualizar o endereço da pessoa da solicitação
      description: Atualiza o endereço da pessoa associada à solicitação de certificado de cadastro.
      operationId: atualizarEnderecoPessoaSolicitacaoCertificadoCadastro
      security:
        - keycloakUserAuth:
            - cert_emissao
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationCertificatePersonAddressUpdateRequest'
            examples:
              endereco:
                summary: Endereço atualizado da pessoa
                value:
                  island_id: string
                  county_id: string
                  parish_id: string
                  locality_id: string
                  zone_id: string
                  another_point: string
      responses:
        '200':
          description: Endereço atualizado com sucesso
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /solicitacoes-certificado-cadastro/{id}/pessoa/contactos:
    parameters:
      - name: id
        in: path
        required: true
        description: Identificador único da solicitação de certificado de cadastro
        schema:
          type: string
          format: uuid
    get:
      tags:
        - Solicitacoes-Certificado-Cadastro-Pessoa-Contactos
      summary: Listar os contactos da pessoa da solicitação
      description: Retorna a lista paginada de contactos da pessoa associada à solicitação de certificado de cadastro.
      operationId: listarContactosPessoaSolicitacaoCertificadoCadastro
      security:
        - keycloakUserAuth:
            - cert_emissao
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            minimum: 1
            default: 20
      responses:
        '200':
          description: Contactos encontrados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRegistrationCertificatePersonContactsList'
              examples:
                sucesso:
                  summary: Lista de contactos
                  value:
                    success: true
                    status: 200
                    status_text: OK
                    data:
                      id_registration_certificate_request: ccb5d76e-cd46-f4f2-355d-7d1aa9b7ec90
                      contacts:
                        - id_contact: 2af61a4b-add7-3e09-39d8-c04cb112bec1
                          contact_type: TEL
                          contact_type_description: Telefone
                          value: +238 999 99 99
                          observation: Contacto principal
                          valid_from: '2026-07-28'
                          valid_to: '2027-07-28'
                          status: ativo
                          created_at: '2026-07-28 10:30:00'
                          created_by: 78871304-1c58-4315-d76a-0136bd83b702
                          created_by_name: string
                          updated_at: '2026-07-28 10:30:00'
                          updated_by: 8ee3fc3e-87ee-eeb3-e678-df72bd6db734
                          updated_by_name: string
                      pagination:
                        page: 1
                        page_size: 20
                        total_items: 1
                        total_pages: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - Solicitacoes-Certificado-Cadastro-Pessoa-Contactos
      summary: Criar um contacto para a pessoa da solicitação
      description: Cria um contacto para a pessoa associada à solicitação de certificado de cadastro.
      operationId: criarContactoPessoaSolicitacaoCertificadoCadastro
      security:
        - keycloakUserAuth:
            - cert_emissao
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationContactRequest'
            examples:
              contacto:
                summary: Novo contacto
                value:
                  contact_type: TEL
                  value: +238 999 99 99
                  observation: Contacto principal
      responses:
        '201':
          description: Contacto criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRegistrationContactCreated'
              examples:
                sucesso:
                  summary: Contacto criado
                  value:
                    success: true
                    status: 201
                    status_text: Created
                    data:
                      id_contact: 0208c69b-5061-3aed-736d-f47d7f816435
                      contact_type: TEL
                      contact_type_description: Telefone
                      value: +238 999 99 99
                      observation: Contacto principal
                      valid_from: '2026-07-28'
                      valid_to: '2027-07-28'
                      status: ativo
                      created_at: '2026-07-28 10:30:00'
                      created_by: 33779c8a-d274-d555-eacf-49b111d7bc14
                      created_by_name: string
                      updated_at: '2026-07-28 10:30:00'
                      updated_by: 6ebf1137-978a-c827-6d6c-930e5e057a4e
                      updated_by_name: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /solicitacoes-certificado-cadastro/{id}/pessoa/contactos/{id_contacto}:
    parameters:
      - name: id
        in: path
        required: true
        description: Identificador único da solicitação de certificado de cadastro
        schema:
          type: string
          format: uuid
      - name: id_contacto
        in: path
        required: true
        description: Identificador único do contacto
        schema:
          type: string
          format: uuid
    patch:
      tags:
        - Solicitacoes-Certificado-Cadastro-Pessoa-Contactos
      summary: Atualizar um contacto da pessoa da solicitação
      description: Atualiza um contacto da pessoa associada à solicitação de certificado de cadastro.
      operationId: atualizarContactoPessoaSolicitacaoCertificadoCadastro
      security:
        - keycloakUserAuth:
            - cert_emissao
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationContactRequest'
            examples:
              contacto:
                summary: Dados do contacto a atualizar
                value:
                  contact_type: TEL
                  value: +238 999 99 99
                  observation: Contacto principal
      responses:
        '200':
          description: Contacto atualizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRegistrationContact'
              examples:
                sucesso:
                  summary: Contacto atualizado
                  value:
                    success: true
                    status: 200
                    status_text: OK
                    data:
                      id_contact: 0208c69b-5061-3aed-736d-f47d7f816435
                      contact_type: TEL
                      contact_type_description: Telefone
                      value: +238 999 99 99
                      observation: Contacto principal
                      valid_from: '2026-07-28'
                      valid_to: '2027-07-28'
                      status: ativo
                      created_at: '2026-07-28 10:30:00'
                      created_by: 33779c8a-d274-d555-eacf-49b111d7bc14
                      created_by_name: string
                      updated_at: '2026-07-28 10:30:00'
                      updated_by: 6ebf1137-978a-c827-6d6c-930e5e057a4e
                      updated_by_name: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
        - Solicitacoes-Certificado-Cadastro-Pessoa-Contactos
      summary: Eliminar um contacto da pessoa da solicitação
      description: Elimina um contacto da pessoa associada à solicitação de certificado de cadastro.
      operationId: eliminarContactoPessoaSolicitacaoCertificadoCadastro
      security:
        - keycloakUserAuth:
            - cert_emissao
      responses:
        '200':
          description: Contacto eliminado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRegistrationContact'
              examples:
                sucesso:
                  summary: Contacto eliminado
                  value:
                    success: true
                    status: 200
                    status_text: OK
                    data:
                      id_contact: 0208c69b-5061-3aed-736d-f47d7f816435
                      contact_type: TEL
                      contact_type_description: Telefone
                      value: +238 999 99 99
                      observation: Contacto principal
                      valid_from: '2026-07-28'
                      valid_to: '2027-07-28'
                      status: ativo
                      created_at: '2026-07-28 10:30:00'
                      created_by: 33779c8a-d274-d555-eacf-49b111d7bc14
                      created_by_name: string
                      updated_at: '2026-07-28 10:30:00'
                      updated_by: 6ebf1137-978a-c827-6d6c-930e5e057a4e
                      updated_by_name: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /solicitacoes-certificado-cadastro/{id}/anexos:
    post:
      tags:
        - Solicitacoes-Certificado-Cadastro-Anexos
      summary: Anexar documento a uma solicitação de certificado de cadastro
      description: Anexa um arquivo à solicitação de certificado de cadastro indicada.
      operationId: uploadAnexoSolicitacaoCertificadoCadastro
      security:
        - keycloakUserAuth:
            - cert_emissao
            - ficheiros:write
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador único da solicitação de certificado de cadastro
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AnexoUploadRequest'
      responses:
        '201':
          description: Anexo criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnexoCreatedResponse'
              example:
                success: true
                status: 201
                status_text: Created
                data:
                  id: 9c4f1e2a-1b3d-4a7e-9c2f-6d8e0a1b2c3d
                  filename: bilhete-identidade.pdf
                  content_type: application/pdf
                  size_bytes: 245678
                  content_url: /solicitacoes-certificado-cadastro/ccb5d76e-cd46-f4f2-355d-7d1aa9b7ec90/anexos/9c4f1e2a-1b3d-4a7e-9c2f-6d8e0a1b2c3d/content
                  created_at: '2026-08-08T10:15:30Z'
                  created_by: 7b2e5f1a-4c3d-4e9f-8a1b-2c3d4e5f6a7b
                  created_by_name: Nelson Oliveira
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      tags:
        - Solicitacoes-Certificado-Cadastro-Anexos
      summary: Listar anexos de uma solicitação de certificado de cadastro
      description: Retorna a lista paginada de anexos associados à solicitação.
      operationId: listAnexosSolicitacaoCertificadoCadastro
      security:
        - keycloakUserAuth:
            - cert_emissao
            - ficheiros:read
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador único da solicitação de certificado de cadastro
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: Lista de anexos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnexoListResponse'
              example:
                success: true
                status: 200
                status_text: OK
                data:
                  - id: 9c4f1e2a-1b3d-4a7e-9c2f-6d8e0a1b2c3d
                    filename: bilhete-identidade.pdf
                    content_type: application/pdf
                    size_bytes: 245678
                    content_url: /solicitacoes-certificado-cadastro/ccb5d76e-cd46-f4f2-355d-7d1aa9b7ec90/anexos/9c4f1e2a-1b3d-4a7e-9c2f-6d8e0a1b2c3d/content
                    created_at: '2026-08-08T10:15:30Z'
                    created_by: 7b2e5f1a-4c3d-4e9f-8a1b-2c3d4e5f6a7b
                    created_by_name: Nelson Oliveira
                pagination:
                  page: 0
                  page_size: 20
                  page_count: 1
                  total: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /solicitacoes-certificado-cadastro/{id}/anexos/{id_anexo}:
    delete:
      tags:
        - Solicitacoes-Certificado-Cadastro-Anexos
      summary: Eliminar um anexo da solicitação
      description: Elimina um anexo associado à solicitação de certificado de cadastro.
      operationId: eliminarAnexoSolicitacaoCertificadoCadastro
      security:
        - keycloakUserAuth:
            - cert_emissao
            - ficheiros:write
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador único da solicitação de certificado de cadastro
          schema:
            type: string
            format: uuid
        - name: id_anexo
          in: path
          required: true
          description: Identificador único do anexo
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Anexo eliminado com sucesso
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /pre-cadastros:
    post:
      tags:
        - Pre-Cadastros
      summary: Registar um pré-cadastro
      description: |
        Recebe do SIGO todos os dados da pessoa, da ocorrência e do pedido
        numa única chamada e regista o pré-cadastro policial para ser analisado
        e posteriormente criado um cadastro associado a esta pessoa.
      operationId: registarPreCadastro
      security:
        - sigoClientCredentials:
            - sigo:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CadastroRequest'
            examples:
              pre_cadastro:
                summary: Exemplo de pedido de Cadastro enviado pelo SIGO
                value:
                  personal_info:
                    full_name: João Silva
                    nickname: Djunga
                    date_of_birth: '1995-10-18'
                    sex: M
                    sex_description: Masculino
                    marital_status: S
                    marital_status_description: Solteiro(a)
                    place_of_birth: Praia
                    place_of_birth_id: '132'
                    nationality: Cabo-verdiana
                    nationality_id: '238'
                    mother_name: Maria Silva
                    father_name: António Silva
                    profession: Engenheiro
                    nif: '200123456'
                  document_info:
                    document_type: CNI
                    document_description: Cartão Nacional de Identificação(CNI)
                    document_number: 22150812M016Q
                    issue_date: '2024-03-15'
                    expiration_date: '2028-03-31'
                    issue_location: Cabo verde
                    issue_location_id: '238'
                  contacts:
                    - contact_type: TELM
                      description: Telemóvel
                      value: '9911234'
                    - contact_type: EML
                      description: Email
                      value: joao@email.com
                  address_info:
                    island: Santiago
                    island_id: '1'
                    county: Praia
                    county_id: '1'
                    parish: Várzea
                    parish_id: '5'
                    locality: Achada Santo António
                    locality_id: '12'
                    zone: Zona Norte
                    zone_id: '3'
                    other_point: Perto do mercado
                  occurrence_info:
                    occurrence_number: PN20072026101512/EPF
                    occurrence_date_of: '2025-02-18 19:03:00'
                    occurrence_date_until: '2025-02-18 20:00:00'
                    unit: EPASA
                    unit_description: Esquadra Policial De Achada Santo António
                    comand: Comando da Praia
                    comand_code: CPR
                    user_create: varela.celso@pn.cv
                    user_sent: varela.celso@pn.cv
                    occurrence_create: '2025-02-18 19:00:00'
                    occurrence_update: '2025-02-18 19:30:00'
                    auto_type: Auto de Denúncia
                    auto_type_code: DEN
                    observation: Primeira observação do caso.
                    link: ''
                    detention_date: '2025-02-18'
                    registrations_measures:
                      - incident_nature: Contra a Pessoa
                        incident_nature_code: CPESS
                        crime_classification: Crimes contra a reserva da vida privada
                        crime_classification_code: CCRVP
                        subcrime_classification: Introdução em casa alheia
                        subcrime_classification_code: IECA
                  attachments:
                    - file_name: doc_identidade.pdf
                      mime_type: application/pdf
                      source_type: URL
                      content: JVBERi0xLjQK...
      responses:
        '201':
          description: Pré-cadastro registado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePreCadastroCreated'
              examples:
                sucesso:
                  summary: Pré-cadastro criado
                  value:
                    success: true
                    status: 201
                    status_text: Created
                    data:
                      id: 550e8400-e29b-41d4-a716-446655440000
                      request_number: PRE-1000/N/2026
                      created_at: '2023-03-18T10:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      tags:
        - Pre-Cadastros
      summary: Listar todos os pedidos de Pré-cadastros
      description: Retorna lista paginada de pré-cadastros com filtros opcionais.
      operationId: listarPreCadastros
      security:
        - keycloakUserAuth:
            - cad_pre_cadastro
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - name: occurrence_number
          in: query
          description: Filtrar por número de ocorrência SIGO
          schema:
            type: string
        - name: request_number
          in: query
          description: Filtrar por número de registo interno
          schema:
            type: string
        - name: unit
          in: query
          description: Filtrar por unidade policial
          schema:
            type: string
        - name: created_at
          in: query
          description: Filtrar por data de receção exacta (yyyy-MM-dd)
          schema:
            type: string
            format: date
        - name: status
          in: query
          description: Filtrar por estado do pré-cadastro
          schema:
            $ref: '#/components/schemas/PreCadastroStatus'
        - name: created_at_from
          in: query
          description: Filtrar por data de receção — de (yyyy-MM-dd)
          schema:
            type: string
            format: date
        - name: created_at_to
          in: query
          description: Filtrar por data de receção — até (yyyy-MM-dd)
          schema:
            type: string
            format: date
        - name: comand_code
          in: query
          description: Filtrar por comando
          schema:
            type: string
        - name: auto_type_code
          in: query
          description: Filtrar por tipo de auto
          schema:
            type: string
        - name: incident_nature_code
          in: query
          description: Filtrar por natureza de ocorrência
          schema:
            type: string
        - name: crime_classification_code
          in: query
          description: Filtrar por enquadramento (classificação do crime)
          schema:
            type: string
        - name: subcrime_classification_code
          in: query
          description: Filtrar por subclassificação do crime
          schema:
            type: string
        - name: full_name
          in: query
          description: Filtrar por nome completo da pessoa
          schema:
            type: string
        - name: date_of_birth
          in: query
          description: Filtrar por data de nascimento (yyyy-MM-dd)
          schema:
            type: string
            format: date
        - name: document_number
          in: query
          description: Filtrar por número de documento (CNI, Passaporte, etc.)
          schema:
            type: string
        - name: nif
          in: query
          description: Filtrar por NIF
          schema:
            type: string
        - name: nationality_id
          in: query
          description: Filtrar por nacionalidade
          schema:
            type: string
        - name: island_id
          in: query
          description: Filtrar por ilha
          schema:
            type: string
        - name: county_id
          in: query
          description: Filtrar por concelho
          schema:
            type: string
        - name: parish_id
          in: query
          description: Filtrar por freguesia
          schema:
            type: string
        - name: locality_id
          in: query
          description: Filtrar por localidade
          schema:
            type: string
        - name: zone_id
          in: query
          description: Filtrar por zona
          schema:
            type: string
      responses:
        '200':
          description: Lista de pré-cadastros
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePreCadastroList'
              examples:
                sucesso:
                  summary: Lista paginada de pré-cadastros
                  value:
                    success: true
                    status: 200
                    status_text: OK
                    data:
                      - id: 550e8400-e29b-41d4-a716-446655440000
                        request_number: PRE-1000/N/2026
                        occurrence_number: PN20072026101512/EPF
                        unit: EPASA
                        unit_description: Esquadra Policial De Achada Santo António
                        full_name: Bruno Fonseca
                        date_of_birth: '1984-10-18'
                        island: Santiago
                        island_id: '1'
                        status_id: PA
                        status: Por Associar
                        created_at: '2023-03-18T10:30:00Z'
                    pagination:
                      page: 0
                      page_size: 20
                      page_count: 1
                      total: 5
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /pre-cadastros/{id}:
    get:
      tags:
        - Pre-Cadastros
      summary: Consultar pré-cadastro por ID
      description: Retorna os dados completos de um pré-cadastro a partir do seu identificador interno.
      operationId: obterPreCadastroPorId
      security:
        - keycloakUserAuth:
            - cad_pre_cadastro
      parameters:
        - name: id
          in: path
          required: true
          description: ID único do pré-cadastro
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Pré-cadastro encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePreCadastroDetail'
              examples:
                sucesso:
                  summary: Pré-cadastro completo
                  value:
                    success: true
                    status: 200
                    status_text: OK
                    data:
                      id: 550e8400-e29b-41d4-a716-446655440000
                      request_number: PRE-1000/N/2026
                      created_at: '2023-03-18T10:30:00Z'
                      personal_info:
                        full_name: Bruno Fonseca
                        nickname: Djunga
                        date_of_birth: '2010-05-14'
                        sex: M
                        sex_description: Masculino
                        marital_status: S
                        marital_status_description: Solteiro
                        place_of_birth: Praia
                        place_of_birth_id: '1'
                        nationality: Cabo-verdiana
                        nationality_id: '132'
                        mother_name: Maria Silva
                        father_name: António Silva
                        profession: Engenheiro
                        nif: '200123456'
                      document_info:
                        document_type: BI
                        document_description: Bilhete de Identidade
                        document_number: '123456789'
                        issue_date: '2024-03-15'
                        expiration_date: '2028-03-31'
                        issue_location: Cabo verde
                        issue_location_id: '238'
                      contacts:
                        - contact_type: TELM
                          description: Telemóvel
                          value: '9911234'
                        - contact_type: EML
                          description: Email
                          value: joao@email.com
                      address_info:
                        island: Santiago
                        island_id: '1'
                        county: Praia
                        county_id: '1'
                        parish: Várzea
                        parish_id: '5'
                        locality: Achada Santo António
                        locality_id: '12'
                        zone: Zona Norte
                        zone_id: '3'
                        other_point: Perto do mercado
                      occurrence_info:
                        occurrence_number: PN20072026101512/EPF
                        occurrence_date_of: '2025-02-18 19:03:00'
                        occurrence_date_until: '2025-02-18 20:00:00'
                        unit: ESF
                        unit_description: Esquadra de São Filipe
                        comand: Comando de São Filipe
                        comand_code: CSF
                        user_create: agente.silva
                        user_sent: agente.silva
                        occurrence_create: '2025-02-18 19:00:00'
                        occurrence_update: '2025-02-18 19:30:00'
                        auto_type: Auto de Denúncia
                        auto_type_code: DEN
                        observation: Primeira observação do caso.
                        link: ''
                        detention_date: '2025-02-18'
                        registrations_measures:
                          - incident_nature: Contra a Pessoa
                            incident_nature_code: CPESS
                            crime_classification: Crimes contra a reserva da vida privada
                            crime_classification_code: CCRVP
                            subcrime_classification: Introdução em casa alheia
                            subcrime_classification_code: IECA
                      attachments:
                        - file_name: doc_identidade.pdf
                          mime_type: application/pdf
                          source_type: URL
                          content: JVBERi0xLjQK...
                      status_id: PA
                      status: Por Associar
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /pre-cadastros/{id}/observacoes:
    post:
      tags:
        - Pre-Cadastros-Observacoes
      summary: Criar uma observação num pré-cadastro
      description: Adiciona uma nova observação de acompanhamento ao pré-cadastro indicado.
      operationId: criarObservacaoPreCadastro
      security:
        - keycloakUserAuth:
            - cad_pre_cadastro
      parameters:
        - name: id
          in: path
          required: true
          description: ID unico do pre-cadastro
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObservacaoRequest'
            examples:
              nova_observacao:
                summary: Nova observação
                value:
                  content: Contactado o denunciante para confirmar morada.
      responses:
        '201':
          description: Observação criada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseObservacaoCreated'
              examples:
                sucesso:
                  summary: Observação criada
                  value:
                    success: true
                    status: 201
                    status_text: Created
                    data:
                      id: b1c2d3e4-0001-0000-0000-000000000001
                      pre_cadastro_id: 550e8400-e29b-41d4-a716-446655440000
                      content: Contactado o denunciante para confirmar morada.
                      created_at: '2026-07-19T10:15:00Z'
                      created_by: e4dfcd0d-b2a1-4495-ad28-da07a48d1890
                      created_by_name: Nelson oliveira
                      updated_at: '2026-07-22T10:15:00Z'
                      updated_by: e4dfcd0d-b2a1-4495-ad28-da07a48d1790
                      updated_by_name: Celso Varela
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      tags:
        - Pre-Cadastros-Observacoes
      summary: Listar observações de um pré-cadastro
      description: |
        Retorna a lista paginada de observações associadas ao pré-cadastro.
        Por defeito, observações eliminadas (soft-deleted) não são incluídas
      operationId: listarObservacoesPreCadastro
      security:
        - keycloakUserAuth:
            - cad_pre_cadastro
      parameters:
        - name: id
          in: path
          required: true
          description: ID unico do pre-cadastro
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista de observações
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseObservacaoList'
              examples:
                sucesso:
                  summary: Lista de observações
                  value:
                    success: true
                    status: 200
                    status_text: OK
                    data:
                      - id: b1c2d3e4-0001-0000-0000-000000000001
                        pre_cadastro_id: 550e8400-e29b-41d4-a716-446655440000
                        content: Contactado o denunciante para confirmar morada.
                        created_at: '2026-07-19T10:15:00Z'
                        created_by: e4dfcd0d-b2a1-4495-ad28-da07a48d1890
                        created_by_name: Nelson Oliveira
                        updated_at: '2026-07-19T10:15:00Z'
                        updated_by: e4dfcd0d-b2a1-4495-ad28-da07a48d1870
                        updated_by_name: Celso Varela
                      - id: b1c2d3e4-0001-0000-0000-000000000002
                        pre_cadastro_id: 650e8400-e29b-41d4-a716-446655440000
                        content: Individuo com multiplos cadastros pendentes.
                        created_at: '2026-08-19T10:15:00Z'
                        created_by: t64fcd0d-b2a1-4495-ad28-da07a48d1890
                        created_by_name: Nelson Oliveira
                        updated_at: '2026-08-19T10:15:00Z'
                        updated_by: t6dfcd0d-b2a1-4495-ad28-da07a48d1870
                        updated_by_name: Celso Varela
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /pre-cadastros/{id}/observacoes/{observacaoId}:
    parameters:
      - $ref: '#/components/parameters/CadastroId'
      - $ref: '#/components/parameters/ObservacaoId'
    put:
      tags:
        - Pre-Cadastros-Observacoes
      summary: Editar uma observação
      description: Atualiza o conteúdo de uma observação existente do pré-cadastro.
      operationId: atualizarObservacaoPreCadastro
      security:
        - keycloakUserAuth:
            - cad_pre_cadastro
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObservacaoRequest'
            examples:
              editar_observacao:
                summary: Correção da observação
                value:
                  content: Contactado o denunciante — morada confirmada e atualizada no registo.
      responses:
        '200':
          description: Observação atualizada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseObservacaoUpdated'
              examples:
                sucesso:
                  summary: Observação atualizada
                  value:
                    success: true
                    status: 200
                    status_text: OK
                    data:
                      id: b1c2d3e4-0001-0000-0000-000000000001
                      pre_cadastro_id: 550e8400-e29b-41d4-a716-446655440000
                      content: Contactado o denunciante — morada confirmada e atualizada no registo.
                      created_at: '2026-07-19T10:15:00Z'
                      created_by: e4dfcd0d-b2a1-4495-ad28-da07a48d1890
                      created_by_name: Nelson Oliveira
                      updated_at: '2026-07-19T11:02:00Z'
                      updated_by: e4dfcd0d-b2a1-4495-ad28-da07a48d1870
                      updated_by_name: Celso Varela
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ObservacaoNotFound'
        '422':
          description: Não é possível editar uma observação já eliminada (422)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseError'
              examples:
                exemplo:
                  summary: Observação eliminada
                  value:
                    success: false
                    status: 422
                    status_text: Unprocessable Entity
                    data:
                      message: Não é possível editar uma observação eliminada
                      errors: []
    delete:
      tags:
        - Pre-Cadastros-Observacoes
      summary: Eliminar (soft delete) uma observação
      description: |
        Marca a observação como eliminada. A observação deixa de aparecer nas
        listagens por defeito, mas permanece na base de dados para auditoria.
      operationId: eliminarObservacaoPreCadastro
      security:
        - keycloakUserAuth:
            - cad_pre_cadastro
      responses:
        '200':
          description: Observação eliminada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDeleted'
              examples:
                sucesso:
                  summary: Observação eliminada
                  value:
                    success: true
                    status: 200
                    status_text: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ObservacaoNotFound'
        '409':
          description: Observação já eliminada (409)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseError'
              examples:
                exemplo:
                  summary: Já eliminada
                  value:
                    success: false
                    status: 409
                    status_text: Conflict
                    data:
                      message: Esta observação já se encontra eliminada
                      errors: []
  /pre-cadastros/{id}/anexos:
    post:
      tags:
        - Pre-Cadastros-Anexos
      summary: Anexar documento a um pré-cadastro
      description: Anexar documento ao pré-cadastro indicado.
      operationId: uploadAnexoPreCadastro
      security:
        - keycloakUserAuth:
            - cad_pre_cadastro
            - ficheiros:write
      parameters:
        - name: id
          in: path
          required: true
          description: ID unico do pre-cadastro
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AnexoUploadRequest'
      responses:
        '201':
          description: Anexo criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnexoCreatedResponse'
              examples:
                sucesso:
                  value:
                    success: true
                    status: 201
                    status_text: Created
                    data:
                      id: 9c4f1e2a-1b3d-4a7e-9c2f-6d8e0a1b2c3d
                      filename: bilhete-identidade.pdf
                      content_type: application/pdf
                      size_bytes: 245678
                      content_url: /pre-cadastros/3fa85f64-5717-4562-b3fc-2c963f66afa6/anexos/9c4f1e2a-1b3d-4a7e-9c2f-6d8e0a1b2c3d/content
                      created_at: '2026-08-08T10:15:30Z'
                      created_by: 7b2e5f1a-4c3d-4e9f-8a1b-2c3d4e5f6a7b
                      created_by_name: Nelson Oliveira
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      tags:
        - Pre-Cadastros-Anexos
      summary: Listar anexos de um pré-cadastro
      description: |
        Retorna a lista paginada de anexos associadas ao pré-cadastro.
        Por defeito, anexos eliminadas (soft-deleted) não são incluídas
      operationId: listAnexosPreCadastro
      security:
        - keycloakUserAuth:
            - cad_pre_cadastro
            - ficheiros:read
      parameters:
        - name: id
          in: path
          required: true
          description: ID unico do pre-cadastro
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: Lista de anexos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnexoListResponse'
              examples:
                sucesso:
                  summary: Lista de anexos
                  value:
                    success: true
                    status: 200
                    status_text: OK
                    data:
                      - id: 9c4f1e2a-1b3d-4a7e-9c2f-6d8e0a1b2c3d
                        filename: bilhete-identidade.pdf
                        content_type: application/pdf
                        size_bytes: 245678
                        content_url: /pre-cadastros/3fa85f64-5717-4562-b3fc-2c963f66afa6/anexos/9c4f1e2a-1b3d-4a7e-9c2f-6d8e0a1b2c3d/content
                        created_at: '2026-08-08T10:15:30Z'
                        created_by: 7b2e5f1a-4c3d-4e9f-8a1b-2c3d4e5f6a7b
                        created_by_name: Nelson Oliveira
                      - id: a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d
                        filename: pessoa.jpg
                        content_type: image/jpeg
                        size_bytes: 89234
                        content_url: /pre-cadastros/3fa85f64-5717-4562-b3fc-2c963f66afa6/anexos/a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d/content
                        created_at: '2026-08-08T10:20:12Z'
                        created_by: 7b2e5f1a-4c3d-4e9f-8a1b-2c3d4e5f6a7b
                        created_by_name: Nelson Oliveira
                    pagination:
                      page: 0
                      page_size: 20
                      page_count: 1
                      total: 5
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /pre-cadastros/{id}/anexos/{anexoId}:
    parameters:
      - $ref: '#/components/parameters/CadastroId'
      - $ref: '#/components/parameters/AnexoId'
    get:
      operationId: getAnexoPreCadastro
      summary: Obter metadata de um anexo
      description: Obter metadatas de um anexo existente de um pré-cadastro.
      tags:
        - Pre-Cadastros-Anexos
      security:
        - keycloakUserAuth:
            - cad_pre_cadastro
            - ficheiros:read
      parameters:
        - $ref: '#/components/parameters/CadastroId'
        - $ref: '#/components/parameters/AnexoId'
      responses:
        '200':
          description: Metadata do anexo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnexoDetailResponse'
              example:
                success: true
                status: 200
                status_text: OK
                data:
                  id: 9c4f1e2a-1b3d-4a7e-9c2f-6d8e0a1b2c3d
                  filename: bilhete-identidade.pdf
                  content_type: application/pdf
                  size_bytes: 245678
                  content_url: /pre-cadastros/3fa85f64-5717-4562-b3fc-2c963f66afa6/anexos/9c4f1e2a-1b3d-4a7e-9c2f-6d8e0a1b2c3d/content
                  created_at: '2026-08-08T10:15:30Z'
                  created_by: 7b2e5f1a-4c3d-4e9f-8a1b-2c3d4e5f6a7b
                  created_by_name: Nelson Oliveira
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteAnexoPreCadastro
      summary: Remover (soft delete) um anexo
      description: Remover um anexo existente de um pré-cadastro.
      tags:
        - Pre-Cadastros-Anexos
      security:
        - keycloakUserAuth:
            - cad_pre_cadastro
            - ficheiros:write
      parameters:
        - $ref: '#/components/parameters/CadastroId'
        - $ref: '#/components/parameters/AnexoId'
      responses:
        '200':
          description: Anexo eliminada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDeleted'
              examples:
                sucesso:
                  summary: Observação eliminada
                  value:
                    success: true
                    status: 200
                    status_text: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /pre-cadastros/{id}/anexos/{anexoId}/content:
    parameters:
      - $ref: '#/components/parameters/CadastroId'
      - $ref: '#/components/parameters/AnexoId'
    get:
      operationId: downloadAnexoPreCadastroContent
      summary: Descarregar o conteúdo binário de um anexo
      description: Download de um Anexo do pré-cadastro.
      tags:
        - Pre-Cadastros-Anexos
      security:
        - keycloakUserAuth:
            - cad_pre_cadastro
            - ficheiros:read
      parameters:
        - $ref: '#/components/parameters/CadastroId'
        - $ref: '#/components/parameters/AnexoId'
      responses:
        '200':
          description: Conteúdo binário do anexo
          headers:
            Content-Disposition:
              schema:
                type: string
              example: attachment; filename="bilhete-identidade.pdf"
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'
  /reconhecimentos:
    post:
      tags:
        - Reconhecimentos
      summary: Pesquisar fichas por reconhecimento
      description: Pesquisa Ficha por reconhecimento.
      operationId: pesquisarReconhecimentos
      security:
        - keycloakUserAuth:
            - cad_reconhecimento
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReconhecimentoRequest'
            examples:
              pesquisa_reconhecimento:
                summary: Pesquisa de ficha por reconhecimento
                value:
                  name: Bruno
                  surname: Fonseca
                  date_of_birth: '1995-03-15'
                  document_info:
                    document_type: BI
                    document_number: '123456789'
                  mother_name: Maria Silva
                  father_name: António Silva
                  caracteristicas:
                    numerico:
                      - caracteristica_id: 550e8400-e29b-41d4-a716-446655440000
                        valor: 1.75
                    booleano:
                      - caracteristica_id: 2f3d7a10-1ef4-4db2-b1db-77c44f398c21
                        valor: true
                    texto:
                      - caracteristica_id: 4d2f1f6b-1737-4818-9b52-15a4abf9a2c9
                        valor: marca de nascença na testa
                    lista:
                      - caracteristica_id: 7ff99a4d-83d3-48fb-9f0b-9c2c0a20d9c1
                        tipo_caracteristica_id: bbcb46c7-33e5-41f3-8c6c-88af0cb470d2
      responses:
        '200':
          description: Lista paginada de fichas encontradas por reconhecimento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseReconhecimentoList'
              examples:
                sucesso:
                  summary: Fichas encontradas
                  value:
                    success: true
                    status: 200
                    status_text: OK
                    data:
                      - ficha_id: 550e8400-e29b-41d4-a716-446655440000
                        ficha_numero: '0001'
                        imagem: iVBORw0KGgo=
                    pagination:
                      page: 0
                      page_size: 20
                      page_count: 1
                      total: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/ReconhecimentoNotFound'
  /reabilitacoes:
    get:
      tags:
        - Reabilitações
      summary: Listar reabilitações
      description: Retorna a lista paginada de reabilitações com filtros opcionais.
      operationId: listarReabilitacoes
      security:
        - keycloakUserAuth:
            - cad_reabilitacao
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - name: ficha_numero
          in: query
          description: Filtrar pelo número da ficha
          schema:
            type: string
        - name: name
          in: query
          description: Filtrar pelo nome da pessoa
          schema:
            type: string
        - name: date
          in: query
          description: Filtrar pela data da reabilitação (yyyy-MM-dd)
          schema:
            type: string
            format: date
        - name: status_code
          in: query
          description: Filtrar pelo código do estado da reabilitação
          schema:
            $ref: '#/components/schemas/ReabilitacaoStatus'
      responses:
        '200':
          description: Lista paginada de reabilitações
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseReabilitacaoList'
              examples:
                sucesso:
                  summary: Reabilitações encontradas
                  value:
                    success: true
                    status: 200
                    status_text: OK
                    data:
                      - id: d7d5a12f-c079-45a0-9e91-8f65dce027f1
                        ficha_numero: '0001'
                        ficha_id: 550e8400-e29b-41d4-a716-446655440000
                        name: Bruno Fonseca
                        rehabilitation_date: '2026-07-29'
                        registration: Cadastro Criminal
                        rehabilitation_reason: Cumprimento integral da pena
                        status_description: Pendente
                        status_code: P
                        rejection_reason: null
                      - id: a8697835-165b-4367-9c27-2af03cffab88
                        ficha_numero: '0002'
                        ficha_id: 10e17562-731c-4e3e-87c3-66050e6be439
                        name: Maria Lopes
                        rehabilitation_date: '2026-07-28'
                        registration: Cadastro Criminal
                        rehabilitation_reason: Pedido de reabilitação judicial
                        status_description: Rejeitado
                        status_code: R
                        rejection_reason: Documentação apresentada está incompleta
                      - id: 7bc8865d-af95-4fa4-a1ec-dadb98bd95ed
                        ficha_numero: '0003'
                        ficha_id: fdb50176-ff63-4f4e-b830-b9974749e4cc
                        name: Carlos Silva
                        rehabilitation_date: '2026-07-27'
                        registration: Cadastro Criminal
                        rehabilitation_reason: Cumprimento dos requisitos legais
                        status_description: Aceite
                        status_code: A
                        rejection_reason: null
                    pagination:
                      page: 0
                      page_size: 20
                      page_count: 1
                      total: 3
                vazio:
                  summary: Nenhuma reabilitação encontrada
                  value:
                    success: true
                    status: 200
                    status_text: OK
                    data: []
                    pagination:
                      page: 0
                      page_size: 20
                      page_count: 0
                      total: 0
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - Reabilitações
      summary: Criar uma reabilitação
      description: Cria uma reabilitação para a ficha informada.
      operationId: criarReabilitacao
      security:
        - keycloakUserAuth:
            - cad_reabilitacao
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - ficha_id
                - rehabilitation_reason
                - attachment_ids
              properties:
                ficha_id:
                  type: string
                  format: uuid
                rehabilitation_reason:
                  type: string
                attachment_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
            example:
              ficha_id: 550e8400-e29b-41d4-a716-446655440000
              rehabilitation_reason: Cumprimento integral da pena
              attachment_ids:
                - 550e8400-e29b-41d4-a716-446655440001
      responses:
        '201':
          description: Reabilitação criada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseReabilitacaoAction'
              examples:
                sucesso:
                  summary: Reabilitação criada
                  value:
                    success: true
                    status: 201
                    status_text: Created
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /reabilitacoes/{id}:
    patch:
      tags:
        - Reabilitações
      summary: Aceitar ou rejeitar uma reabilitação
      description: |
        Atualiza o estado de uma reabilitação pendente.
        Para aceitar, informe `status` igual a `A` e `reason` vazio.
        Para rejeitar, informe `status` igual a `R` e o motivo em `reason`.
      operationId: alterarEstadoReabilitacao
      security:
        - keycloakUserAuth:
            - cad_reabilitacao
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador único da reabilitação
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReabilitacaoStatusRequest'
            examples:
              aceitar:
                summary: Aceitar reabilitação
                value:
                  status: A
                  reason: ''
              rejeitar:
                summary: Rejeitar reabilitação
                value:
                  status: R
                  reason: Documentação apresentada está incompleta
      responses:
        '200':
          description: Estado da reabilitação alterado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseReabilitacaoAction'
              examples:
                sucesso:
                  summary: Estado alterado
                  value:
                    success: true
                    status: 200
                    status_text: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ReabilitacaoNotFound'
        '409':
          description: Reabilitação já processada ou com estado incompatível (409)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseError'
              examples:
                estado_incompativel:
                  summary: Estado incompatível
                  value:
                    success: false
                    status: 409
                    status_text: Conflict
                    data:
                      message: A reabilitação não pode ser alterada no estado atual
                      errors: []
  /reabilitacoes/{id}/anexos:
    get:
      tags:
        - Reabilitações
      summary: Listar anexos de uma reabilitação
      description: Retorna a lista paginada de anexos associados à reabilitação.
      operationId: listarAnexosReabilitacao
      security:
        - keycloakUserAuth:
            - cad_reabilitacao
            - ficheiros:read
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador único da reabilitação
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: Lista de anexos da reabilitação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnexoListResponse'
              examples:
                sucesso:
                  summary: Anexos encontrados
                  value:
                    success: true
                    status: 200
                    status_text: OK
                    data:
                      - id: 9c4f1e2a-1b3d-4a7e-9c2f-6d8e0a1b2c3d
                        filename: doc_identidade.pdf
                        content_type: application/pdf
                        size_bytes: 245678
                        content_url: /reabilitacoes/d7d5a12f-c079-45a0-9e91-8f65dce027f1/anexos/9c4f1e2a-1b3d-4a7e-9c2f-6d8e0a1b2c3d/content
                        created_at: '2026-08-08T10:15:30Z'
                        created_by: 7b2e5f1a-4c3d-4e9f-8a1b-2c3d4e5f6a7b
                        created_by_name: Nelson Oliveira
                    pagination:
                      page: 0
                      page_size: 20
                      page_count: 1
                      total: 1
                vazio:
                  summary: Nenhum anexo encontrado
                  value:
                    success: true
                    status: 200
                    status_text: OK
                    data: []
                    pagination:
                      page: 0
                      page_size: 20
                      page_count: 0
                      total: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ReabilitacaoNotFound'
  /reabilitacoes/{id}/anexos/{anexoId}/content:
    get:
      tags:
        - Reabilitações
      summary: Descarregar o conteúdo de um anexo de uma reabilitação
      description: Retorna o conteúdo binário do anexo associado à reabilitação.
      operationId: downloadAnexoReabilitacaoContent
      security:
        - keycloakUserAuth:
            - cad_reabilitacao
            - ficheiros:read
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador único da reabilitação
          schema:
            type: string
            format: uuid
        - name: anexoId
          in: path
          required: true
          description: Identificador único do anexo
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Conteúdo binário do anexo
          headers:
            Content-Disposition:
              schema:
                type: string
              example: attachment; filename="doc_identidade.pdf"
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ReabilitacaoNotFound'
  /dominios:
    get:
      tags:
        - Dominios-Cadastro
      summary: Listar domínios
      description: |
        Retorna os domínios que aparecem na barra lateral do ecrã de Parametrizações.
      operationId: listarDominios
      security:
        - keycloakUserAuth:
            - sys_param
      responses:
        '200':
          description: Lista de domínios
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDominioList'
              examples:
                sucesso:
                  summary: Lista de domínios
                  value:
                    success: true
                    status: 200
                    status_text: OK
                    data:
                      - code: MEDIDAS_APLICADAS
                        name: Medidas Aplicadas
                      - code: TIPO_ENDERECO
                        name: Tipo de Endereço
                      - code: FINALIDADE_CERTIFICADO
                        name: Finalidade de Certificado
                      - code: TIPO_FOTOGRAFIA
                        name: Tipo de Fotografia
                      - code: MOTIVO_CADASTRO_DOCUMENTO
                        name: Motivo Cadastro Documento
                      - code: TIPO_DOCUMENTO_EXTRAVIADO
                        name: Tipo de Documento Extraviado
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin/dominios/{code}/valores:
    post:
      tags:
        - Dominios-Cadastro
      summary: Criar um novo valor de domínio
      description: |
        Cria um valor no domínio indicado no caminho. Envia-se `value` (a sigla) e
        `value_description`; o `is_default` marca-o como sugerido. O resto é
        preenchido pelo sistema.
      operationId: criarValorDominio
      security:
        - keycloakUserAuth:
            - sys_param
      parameters:
        - $ref: '#/components/parameters/DominioCode'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainValueRequest'
            examples:
              novo_valor:
                summary: Novo valor a acrescentar ao domínio
                value:
                  value: IA
                  value_description: Interdição de Ausentar-se
                  is_default: false
      responses:
        '201':
          description: Valor de domínio criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseValorDominioCreated'
              examples:
                sucesso:
                  summary: Valor criado
                  value:
                    success: true
                    status: 201
                    status_text: Created
                    data:
                      id: e1a2b3c4-0000-4000-8000-000000000009
                      domain_code: MEDIDAS_APLICADAS
                      domain_name: Medidas Aplicadas
                      value: IA
                      value_description: Interdição de Ausentar-se
                      is_default: false
                      is_system: false
                      status: true
                      created_at: '2026-07-02T10:15:00Z'
                      created_by: u-0001
                      created_by_name: Administrador do Sistema
        '400':
          $ref: '#/components/responses/BadRequestValorDominio'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/DominioNotFound'
        '409':
          description: Sigla já existente no domínio (409)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseError'
              examples:
                exemplo:
                  summary: Sigla duplicada
                  value:
                    success: false
                    status: 409
                    status_text: Conflict
                    data:
                      message: Já existe um valor com a sigla 'IA' neste domínio
                      errors: []
        '422':
          $ref: '#/components/responses/UnprocessableEntityValorDominio'
  /admin/dominios/{code}/valores/{id}:
    put:
      tags:
        - Dominios-Cadastro
      summary: Atualizar um valor de domínio
      description: |
        Atualiza um valor de um domínio. Só se pode mudar `value_description`
        (o texto apresentado) e `is_default`; a sigla e os restantes campos
        mantêm-se.
      operationId: atualizarValorDominio
      security:
        - keycloakUserAuth:
            - sys_param
      parameters:
        - $ref: '#/components/parameters/DominioCode'
        - $ref: '#/components/parameters/ValorDominioId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainValueUpdateRequest'
            examples:
              atualizar:
                summary: Corrigir a descrição e marcar como padrão
                value:
                  value_description: Prisão Preventiva
                  is_default: true
      responses:
        '200':
          description: Valor de domínio atualizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseValorDominioUpdated'
              examples:
                sucesso:
                  summary: Valor atualizado
                  value:
                    success: true
                    status: 200
                    status_text: OK
                    data:
                      id: e1a2b3c4-0000-4000-8000-000000000001
                      domain_code: MEDIDAS_APLICADAS
                      domain_name: Medidas Aplicadas
                      value: PP
                      value_description: Prisão Preventiva
                      is_default: true
                      is_system: false
                      status: true
                      created_at: '2026-01-15T10:00:00Z'
                      created_by: u-0001
                      created_by_name: Administrador do Sistema
                      updated_at: '2026-08-20T14:30:00Z'
                      updated_by: u-0001
                      updated_by_name: Administrador do Sistema
        '400':
          $ref: '#/components/responses/BadRequestValorDominio'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/ValorDominioNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntityValorDominio'
  /admin/dominios/{code}/valores/{id}/status:
    patch:
      tags:
        - Dominios-Cadastro
      summary: Ativar ou desativar um valor de domínio
      description: |
        Ativa ou desativa um valor de um domínio. Desativar retira-o das listas
        de novos registos, mas mantém as fichas já criadas — nunca há eliminação.
        Valores protegidos (`is_system: true`) não podem ser desativados.
      operationId: alterarEstadoValorDominio
      security:
        - keycloakUserAuth:
            - sys_param
      parameters:
        - $ref: '#/components/parameters/DominioCode'
        - $ref: '#/components/parameters/ValorDominioId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstadoRequest'
            examples:
[...]
